@theme "/home/sonnycalcr/.config/rofi/android_notification_fany.rasi"

configuration{
    hide-scrollbar: true; /* 这个无用，实际是下面的 listview 中的 scrollbar 属性来控制 */
    font: "CaskaydiaCove Nerd Font 14";
}

window {
    width: 600px;
    border-radius: 8px 8px 8px 8px;
    border: 2px;
    border-color: #746D69;
}

listview {
    scrollbar:    false;
    fixed-height: 20px;
}
